@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide spinner arrows for specific number inputs */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type=number] {
  -moz-appearance: textfield;
}